<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/recipe']" routerLinkActive="active" *ngIf="isAuthenticate">Recipes</a>
        <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="active">Shopping List</a>
        <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
        <a class="nav-link" [routerLink]="['/auth']" routerLinkActive="active" *ngIf="!isAuthenticate">Authenticate</a>
        <a class="nav-link" (click)="onLogout()" *ngIf="isAuthenticate">Logout</a>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
            <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- [attr.aria-current]="'active'" -->
<!-- [attr.aria-current]="'active'" -->
