<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-6">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p class="mb-0">{{error}}</p>
    </div> -->

    <br>

    <form *ngIf="!isLoading;else loader" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" ngModel email required />
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6" />
      </div>

      <div>
        <button type="submit" class="btn btn-primary"
          [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
        |
        <button type="button" class="btn btn-primary" (click)="isLoginMode = !isLoginMode">Switch to
          {{!isLoginMode ? 'Login' : 'Sign Up'}}</button>
      </div>
    </form>

    <ng-template #loader>
      <loader></loader>
    </ng-template>
  </div>
</div>
