<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-row form-group">
        <button class="btn btn-success btn-sm mr-2" type="submit" [disabled]="!recipeForm.valid">Save</button>
        <button class="btn btn-danger btn-sm" (click)="onCancel()">Cancel</button>
      </div>
      <div class="form-group form-row mt-3">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group form-row">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imagePath" type="text" class="form-control" id="imageUrl" placeholder="Image URL">
      </div>
      <div class="form-group form-row">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control" id="description" rows="3"
          placeholder="Write something about your delicious recipe..."></textarea>
      </div>
      <div class="form-row form-group mb-2" formArrayName="ingredients">
        <div class="col-12 mt-2" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
          <div class="form-row">
            <input type="text" formControlName="name" class="form-control col-7 mr-2" id="ingredient"
              placeholder="Ingredient">
            <input type="number" formControlName="amount" class="form-control col-2 mr-2" id="amount"
              placeholder="Amount">
            <button class="btn btn-danger col-2" type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <div class="form-row mt-2">
          <button class="btn btn-success btn-sm" (click)="onAddIngredient()" type="button">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
