<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Manage Recipe
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="onAddToshoppingList(recipe.ingredients)">To Shopping List</a></li>
        <li><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <p>{{recipe.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let ingredient of recipe.ingredients; trackBy:ingredientTrackBy">
                {{ingredient.name}} - {{ingredient.amount}}
            </a>
          </div>
    </div>
  </div>