* {
  font-family: Roboto, "sans-sarif";
}

button,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: #ff0000;
}

.toast-bottom-right {
  right: 12px;
  bottom: 30px !important;
}

.toast-container .ngx-toastr {
  box-shadow: none;
}

.toast-container .ngx-toastr:hover {
  box-shadow: none;
}
