<div class="row">
    <div class="col-12">
        <form #ngForm="ngForm" (ngSubmit)="onAddItem(ngForm)">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" ngModel required>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" id="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$">
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success me-2" [disabled]="!ngForm.valid" type="submit">{{editMode ? 'Update' : 'Add'}}</button>
                    <button *ngIf="editMode" class="btn btn-danger me-2" type="button" (click)="onDeleteIngredient()">Delete</button>
                    <button class="btn btn-danger" type="button" (click)="onClearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>